<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1><span class="top-text">Safe. Clean. Precise.</span>Our <span class="outline-text">Services</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Services</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Hydro Excavation &amp; Hydrovac Services</h4>
          <h3>Any Project. Any Time.</h3>
          <p>Serving Windsor and London for over 50 years, we deliver all our services in a non-destructive, safe, clean, and precise manner.  Services are all based around our top of the line hydrovac fleet and supporting equipment and backed by one of the most experienced excavation and construction teams in the industry. It doesn't matter what your project scope requirements are the Hurricane team is there to deliver quality results.</p>
        </div>
      </div>
    </div>
    <div class="container-1400 services-section">
      <div class="grid grid-50-50" style="padding-top: 20px;">
        <div class="grid-item flex-center-vertical">
          <div class="content padding-right mid-padding"  data-aos="fade-up">
            <h4 class="heading-sub">Hydrovac &amp Hydro</h4>
            <h2 class="heading-main">Excavation</h2>
            <p class="margin-top-50">Hydro Excavation is the cleanest and safest way to dig. It can be a substitution for many traditional excavation applications as well as used for daylighting, debris removal, trenching, post/pile holes and much more. In this case, saying one truck, one hundred uses is an understatement.  The size of the project is irrelevant; we are always ready to deliver, with top of the line equipment, at competitive pricing, 24 hours a day. <a href="/contact/" class="text-link">Contact us<a/> to experience the Hurricane difference.</p>
            <ul class="services-list margin-bottom-50">
              <li><a href="/services/excavation/#daylighting">Daylighting / Line Locating</a></li>
              <li><a href="/services/excavation/#slot-trenching">Slot Trenching</a></li>
              <li><a href="/services/excavation/#post-pole">Pole &amp; Post Holes</a></li>
              <li><a href="/services/excavation/#dry-suction">Dry Suction Excavation</a></li>
              <li><a href="/services/excavation/#backfilling">Backfilling + Restoration</a></li>
            </ul>
            {% include arrow-link.html url="/services/excavation/" text="Learn More About Hydro Excavation" %}
          </div>
        </div>
        <div class="grid-item flex-center-vertical">
          <div class="hex-grid ps-gallery hex-grid-services">
            {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
          </div>
        </div>
      </div>
      <div class="grid grid-50-50 mobile-reverse services-image-second" >
        <div class="grid-item flex-center-vertical mid-padding">
            <div class="hex-grid ps-gallery hex-grid-services">
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
            </div>
        </div>
        <div class="grid-item flex-center-vertical">
          <div class="content mid-padding" data-aos="fade-up">
            <h4 class="heading-sub">Facility &amp; Infrastructure</h4>
            <h2 class="heading-main">Maintenance</h2>
            <p class="margin-top-50">Our fleet is equipped to handle a variety of facility and infrastructure maintenance services. Popular services include sewer flushing & catch basin cleaning, liquid waste removal and wet and dry industrial cleaning. Our 24-hour emergency service, Ministry of Environment license, and experienced team make us the premier choice for all your maintenance requirements using hydro vac equipment. <a href="/contact/" class="text-link">Contact us</a> to book a service or speak with one of our team members about your project.</p>
            <ul class="services-list margin-bottom-50">
              <li><a href="/services/maintenance/#liquid-waste">Liquid Waster Removal</a></li>
              <li><a href="/services/maintenance/#sewer-flushing">Sewer Flushing &amp; Catch Basin Cleaning</a></li>
              <li><a href="/services/maintenance/#industrial-cleaning">Wet &amp; Dry Indusrial Cleaning</a></li>
            </ul>
            {% include arrow-link.html url="/services/maintenance/" text="Learn More <span class='mobile-hide'> About Facility Maintenance</span>" %}
          </div>
        </div>
        
      </div>
    </div>
  {%- include benifits.html -%}
  {%- include book-now.html -%}
  <div class="flex-half">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all" data-aos="fade-up">
            <h4 class="heading-sub">The Fleet</h4>
            <h2 class="heading-main">Our <span class="outline-text">Trucks</span></h2>
            <p class="margin-top-50">Our Windsor and London teams are equipped with top of the line hydro vac, dryvac and combination units along with all the supporting equipment required for restoration, and sewer maintenance.  We also have access to our sister companies fleet, Hurricane SMS, as required. We’re equipped and experienced to handle any size project.  </p>
            <ul class="services-list">
              <li>12 Dedicated Hydrovac Units</li>
              <li>Hydrovac Truck with High Rail Gear</li>
              <li>11 Combination Units</li>
              <li>Restoration Equipment</li>
              <li>Wide Range of Support Equipment</li>
            </ul>
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="slick-wrapper">
                <div class="slick-slider">
                    <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                    <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                    <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                </div>
            </div>
        </div>
      </div>
  </div>
  {%- include clients-all.html -%}
  {%- include quote.html -%}
  {%- include footer-simple.html photoswipe="true" -%}
  {%- include photoswipe.html -%}
</body>

</html>